@import "variables";

.spiner-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loading {
  position: relative;
  height: 100vh;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $lightFontColor;
    opacity: .5;
  }
}
